/*...SECTION1............................................................................*/
.welcome__area{
	width: 100%;
	height: 600px;
	background-image: url(../img/bg-img/home-img/bg-1.jpg);
	position: relative;
}
.hero-content{
	margin: 190px 5px 0 5px;
	display: inline-block;
}
.hero-content h6{
	font-size: 18px;
    color: #787878;
}
.hero-content h2{
    font-size: 60px;
    color: #000000;
    margin: 20px 0;
}
.hero-content a{
    height: 50px;
    color: #ffffff;
    padding: 0 40px;
    font-size: 12px;
    line-height: 50px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    margin-top: 25px;
	transition-duration: 500ms;
}
.hero-content a:hover {
	background-color: #dc0345;
}
/*.............................Top_catagory_area.......................................*/
.top_category_area{
	padding-top: 80px;
	padding-bottom: 80px;
}
.single_category_area{
	float: left;
    width: 33.3%;
    padding: 0 10px 0 10px;
}
.category-content__inner{
	width: 100%;
	height: 240px;
	position: relative;
	z-index: 1;
}
.category-content{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category-content a{
	display: block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
    font-weight: 700;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.category-content a:hover{
	color: blue;
}
/*.............................Cta-area................................................*/
.cta-area{
	padding-top: 80px;
}
.cta-area__inner{
	width: 100%;
	height: 550px;
	background-image: url(../img/bg-img/home-img/bg-5.jpg);
}
.hero-content__right{
	float: right;
}

/*.....................................................................................*/
.new_arrivals_area{
	padding-top: 80px;
	padding-bottom: 80px;
}
.section-heading{
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}
.section-heading h2{
	font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 600;
}
#popular-products-slides{
	display: block;
	overflow: hidden;
	position: relative;
}
#popular-products-slide__content{
	display: block;
	transform: translate3d(-1140px, 0px, 0px);
    transition: all 1s ease 0s;
    width: 3360px;
    position: relative;
    overflow: hidden;
    left: 0px;
}
#popular-products-slide__content-n1{
	overflow: hidden;
	float: left;
}
#popular-products-slide__content-n2{
	overflow: hidden;
	float: right;
}










@media only screen and (max-width: 1000px){
	.category-content a{
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px){
	.category-content a{
		font-size: 15px;
	}
}




/*
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif; 200, 300, 400, 500, 600, 700, 800
font-family: 'Roboto', sans-serif; 
font-family: 'Ubuntu', sans-serif; 500
*/