<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/add-products.css">


    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
    <title>Essence</title>
</head>
<body>
    <header th:insert="parts/header :: header_content" class="header"></header>


    <section class="product_features">
            <div class="container">
                <div>
                    <form th:action="${'/products/add-product'}" method="post" enctype="multipart/form-data">
                        <input type="text" class="product_name" placeholder="product name" name="name">
                        <br>
                        <input type="number" step="0.01" class="product_price" name="old_price" th:value="${max_price}" placeholder="old price" maxlength="5">
                        <br>
                        <input type="number" step="0.01" class="product_price" name="price" th:value="${max_price}" placeholder="price" maxlength="5">
                        <br>
                        <input type="file" class="product_images" name="list_img" accept="image/png" multiple>
                        <br>

                        <div class="categories_area parent_blok">
                            <ul class="categories_menu">
                                <h1>Categories</h1>
                                <li th:each="category : ${allCategories}" th:id="${category.name}" aria-expanded="false">
                                    <label>
                                        <input type="radio" name="category" th:value="${category.name}">
                                        <span th:text="${category.name}"></span>
                                        <ul class="sub_menu">
                                            <li th:each="type : ${category.types}">
                                                <label>
                                                    <input type="checkbox" th:name="${type.name}">
                                                    <span th:text="${type.name}"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </label>
                                </li>
                            </ul>
                            <ul class="colors_menu">
                                <h1>Color</h1>
                                <li th:each="color : ${allColors}">
                                    <label>
                                        <input type="checkbox" th:name="${color.name}">
                                        <span th:text="${color.name}"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <br>
                        <button>Save Product</button>
                    </form>
                </div>
            </div>
        </section>


    <footer th:insert="parts/footer :: footer_content" class="footer"></footer>
</body>
</html>